@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-body-bg: #141614;

  --color-card-bg: #1b251b;
  --color-card-border: #c7c7c7;
  --color-card-text: var(--color-card-border);
  --color-card-door: var(--color-card-border);

  --color-board-text: #c7c7c7;

  --rounded-card: 0.5rem;
}
